# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
dist-electron/
build/
release/
out/
*.tsbuildinfo

# Prisma
apps/api/prisma/*.db

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
